@import "varibles";

*, html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   background-color: $DarkBlue;
   font-family: $Font;
   font-size: $FontSize;
   font-weight: $FontWeight;
}